body {
    margin: 0;
}

.footer {
    position: bottom;
    text-align: center;
    background-color: white;
    width: 100vw;
    margin-top: 15px;
    
}

.container {
    background-image: url("https://images.pexels.com/photos/3048516/pexels-photo-3048516.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    color: yellow;
    text-align: center;
    font-size: 60px;
}

.card {
    margin: 2rem 0;
}

.allCats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.one-cat {
    display: flex;
    justify-content: center;
}
