body {
    margin: 0;
}

.footer {
    position: absolute;
    bottom: 1px;
    margin-left: 10px;
    text-align: center;
    background-color: white;
    
}

.container {
    background-image: url("https://images.pexels.com/photos/3048516/pexels-photo-3048516.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.errorText {
    font-color: yellow;
    text-align: center;
}